@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'jquery.fullPage';
@import 'bigvideo';
$usfs_green: rgb(0,112,60);
$graygreen: rgb(40,40,35);
$para_background: rgba(20, 20, 10, .70);

@mixin bgsize($width, $height:"") {
    -webkit-background-size: $width unquote($height);
    -moz-background-size: $width unquote($height);
    background-size: $width unquote($height);
    -o-background-size: $width unquote($height);
}

body {
    background-color: rgb(0,112,60);
    color: white;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-family: Lora,serif;
}

h1.main_title ,
h2.main_title {
    color: rgb(20,20,15);
    text-shadow: 3px 3px 1px rgba(80, 80, 80, 0.9);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 100px;
}


a {
    font-weight: bold;
}

a:hover {
    text-shadow: none;
    font-weight: bold;
}

#top {
    background: black url(../images/jet-and-cloud.png) no-repeat;
    background-size: cover;
    background-position: bottom left;
}

#top-text {
    text-shadow: 1px 0px 5px black, 2px 2px black;
    color: white;
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.section {
    margin-right: 100px;
    padding-right: 100px;
}
.section p {
    text-align: justify;
    font-size: 1.5em;
    font-family: Lora,serif;
    font-weight: normal;
    text-shadow: 2px 2px 4px black;
    background-color: $para_background;
    border: 1px solid rgba(0,0,0,.2);
    padding: 1em;
}
.section .row img  {
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, .4);
}

.section h2 {
    font-family: Lora,serif;
    font-size: 5em;
}

h1.main_title {
    font-size: 6em;
}

h2.main_title {
    font-size: 5em;
    font-weight: bold;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#menu li {
    display:inline-block;
    margin: 3px 0;
    color: #000;
}
#menu li.active,
#menu li.active:hover{
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: white;
    font-size: 14px;
    width: 100px;
}
#menu li.active a:hover{
    color: rgba(255,255,255,.5);
    border-left: 3px solid rgb(255, 219, 110);
}
#menu li:hover{
    background: rgba(255,255,255, 0.2);
    border-left: 3px solid rgb(255, 219, 110);
}
#menu li a,
#menu li.active a{
    padding: 8px;
    display:block;
}
#menu li.active a{
    color: #fff;
    border-left: 3px solid rgb(255, 219, 110);
}
#menu {
    position:absolute;
    bottom:0;
    right:0;
    z-index: 70;
    width: 100px;
    height: 100%;
    padding: 2em 0;
    margin:0;
    background-color: rgb(61,67,66);
    text-align: left;
}

#id-intro-video {
    background-color: black;
}

.video-wrapper {
    background-color: black;
    text-align: center;
}
.full-background {
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    padding-right: 100px;
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    //z-index: -1000; 
    overflow: hidden;
    object-fit: cover; // css3 may not be supported everywhere
}
